In [6]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\PSJKKIRAN\Downloads\zomato_data.csv")

In [3]:
df

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity
0,Yes,Yes,4.1/5,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Yes,No,4.1/5,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari
2,Yes,No,3.8/5,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,No,No,3.7/5,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari
4,No,No,3.8/5,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...
51712,No,No,3.6 /5,27,Bar,NaN,Continental,"1,500",Pubs and bars,Whitefield
51713,No,No,NaN,0,Bar,NaN,Finger Food,600,Pubs and bars,Whitefield
51714,No,No,NaN,0,Bar,NaN,Finger Food,"2,000",Pubs and bars,Whitefield
51715,No,Yes,4.3 /5,236,Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars,Whitefield
51716,No,No,3.4 /5,13,"Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500",Pubs and bars,Whitefield

In [7]:
df['rate'] = df['rate'].replace('-', np.nan)

In [9]:
# Remove '/5' and strip any extra spaces
df['rate'] = df['rate'].str.replace('/5', '', regex=False).str.strip()

# Optionally, convert the column to numeric
df['rate'] = pd.to_numeric(df['rate'], errors='coerce')

In [11]:
# Calculate median of the 'Rating' column (excluding NaNs)
median_rating = df['rate'].median()

# Fill NaN values with the median
df['rate'] = df['rate'].fillna(median_rating)

In [12]:
# Remove commas from the column
df['approx_costfor_two_people'] = df['approx_costfor_two_people'].str.replace(',', '', regex=False)

# Convert to float (or int if preferred)
df['approx_costfor_two_people'] = pd.to_numeric(df['approx_costfor_two_people'], errors='coerce')

In [13]:
# Calculate the median cost (excluding NaNs)
median_cost = df['approx_costfor_two_people'].median()

# Fill NaNs with the median cost
df['approx_costfor_two_people'] = df['approx_costfor_two_people'].fillna(median_cost)

In [14]:
# Replace NaN in 'dish_liked' with "Not Available"
df['dish_liked'] = df['dish_liked'].fillna('Not Available')

# Replace NaN in 'cuisines' with "Other"
df['cuisines'] = df['cuisines'].fillna('Other')

# Replace NaN in 'rest_type' with "Unknown"
df['rest_type'] = df['rest_type'].fillna('Unknown')

In [16]:
median_cost = df['votes'].median()
df['votes'] = df['votes'].fillna(median_cost)

# Step 5: Binary Encoding
## Convert the following binary fields:
## Column
## Mapping
## online_order
## Yes â†’ 1, No â†’ 0
## book_table
## Yes â†’ 1, No â†’ 0

In [17]:
# Binary encode 'online_order' column
df['online_order'] = df['online_order'].map({'Yes': 1, 'No': 0})

# Binary encode 'book_table' column
df['book_table'] = df['book_table'].map({'Yes': 1, 'No': 0})

In [18]:
# Convert 'rate' to float
df['rate'] = df['rate'].astype(float)

# Convert 'votes' to integer
df['votes'] = pd.to_numeric(df['votes'], errors='coerce').fillna(0).astype(int)

# Convert 'approx_costfor_two_people' to integer
df['approx_costfor_two_people'] = df['approx_costfor_two_people'].astype(int)

In [19]:
df.isnull().sum()

online_order                 0
book_table                   0
rate                         0
votes                        0
rest_type                    0
dish_liked                   0
cuisines                     0
approx_costfor_two_people    0
listed_intype                0
listed_incity                0
dtype: int64

In [20]:
df.shape

(51717, 10)

In [21]:
#How many restaurants serve North Indian cuisine?

# Count how many restaurants serve North Indian cuisine
north_indian_count = df[df['cuisines'].str.contains('North Indian', case=False, na=False)].shape[0]

# Display the result
print(f"Number of restaurants serving North Indian cuisine: {north_indian_count}")

Number of restaurants serving North Indian cuisine: 21085

In [26]:
# Filter the dataset for Bangalore
bangalore_restaurants = df[df['listed_incity'] == 'Bangalore']

# Remove rows where 'cuisines' is missing
bangalore_restaurants = bangalore_restaurants[bangalore_restaurants['cuisines'].notna()]

# Count the most common cuisine in the 'cuisines' column
if not bangalore_restaurants.empty:
    most_common_cuisine = bangalore_restaurants['cuisines'].value_counts().idxmax()
    print(f"The most commonly offered cuisine by restaurants in Bangalore is: {most_common_cuisine}")
else:
    print("No restaurants found in Bangalore with valid cuisine data.")

No restaurants found in Bangalore with valid cuisine data.

In [25]:
df.head()

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity
0,1,1,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,1,0,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari
2,1,0,3.8,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,0,0,3.7,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari
4,0,0,3.8,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari

In [29]:
#Which locality in Bangalore has the highest average cost for dining (for two people)?


average_cost_by_locality = df.groupby('listed_incity')['approx_costfor_two_people'].mean()

# Find the locality with the highest average cost
highest_avg_cost_locality = average_cost_by_locality.idxmax()
highest_avg_cost_value = average_cost_by_locality.max()

print(f"The locality with the highest average cost for dining (for two people) is {highest_avg_cost_locality} with an average cost of â‚¹{highest_avg_cost_value}")

The locality with the highest average cost for dining (for two people) is Church Street with an average cost of â‚¹770.3612479474549

In [32]:
#What cuisine is most commonly offered by restaurants in Bangalore?

cuisines_series = df['cuisines'].str.split(',', expand=True).stack()

# Get the most common cuisine
most_common_cuisine = cuisines_series.value_counts().idxmax()
most_common_cuisine_count = cuisines_series.value_counts().max()

# Output the result
print(f"The most commonly offered cuisine in Bangalore is '{most_common_cuisine}' with {most_common_cuisine_count} occurrences.")

The most commonly offered cuisine in Bangalore is ' Chinese' with 12481 occurrences.

In [33]:
# Which restaurant type has the top rating with over 1000 votes?


df_filtered = df[df['votes'] > 1000]

# Find the restaurant type with the highest rating
top_rest_type = df_filtered.loc[df_filtered['rate'].idxmax()]

# Output the result
print(f"The restaurant type with the top rating and over 1000 votes is '{top_rest_type['rest_type']}' with a rating of {top_rest_type['rate']}.")

The restaurant type with the top rating and over 1000 votes is 'Microbrewery' with a rating of 4.9.

In [38]:
#How much does it cost at minimum to eat out in Bangalore?
min_cost_for_two = df['approx_costfor_two_people'].min()
min_cost_for_two
print(f"The minimum cost for two people to eat out in Bangalore is â‚¹{min_cost_for_two}.")

The minimum cost for two people to eat out in Bangalore is â‚¹40.

In [41]:
#What percentage of total online orders is received by restaurants in Banashankari?
total_online_orders = df['online_order'].sum()
banashankari_orders = df[df['listed_incity'] == 'Banashankari']['online_order'].sum()
percentage_orders_banashankari = (banashankari_orders / total_online_orders) * 100
print(f"The percentage of total online orders received by restaurants in Banashankari is {percentage_orders_banashankari:.2f}%.")

The percentage of total online orders received by restaurants in Banashankari is 1.79%.

In [42]:
#Which locality has the most restaurants with over 500 votes and a rating below 3.0?
filtered_df = df[(df['votes'] > 500) & (df['rate'] < 3.0)]
locality_count = filtered_df['listed_incity'].value_counts()
most_restaurants_locality = locality_count.idxmax()
print(f"The locality with the most restaurants having over 500 votes and a rating below 3.0 is {most_restaurants_locality}.")

The locality with the most restaurants having over 500 votes and a rating below 3.0 is Brookefield.

In [43]:
# Which locality in Bangalore should Zomato target for expansion based on restaurant type diversity?

locality_diversity = df.groupby('listed_incity')['rest_type'].nunique()
top_locality = locality_diversity.idxmax()
num_types = locality_diversity.max()
print(f"Zomato should target **{top_locality}** for expansion, as it has the highest restaurant type diversity ({num_types} unique types).")

Zomato should target **BTM** for expansion, as it has the highest restaurant type diversity (62 unique types).

In [44]:
#What's the average cost difference between buffet and delivery restaurants?

df['approx_costfor_two_people'] = df['approx_costfor_two_people'].astype(str).str.replace(',', '').astype(float)
buffet_df = df[df['listed_intype'].str.contains('Buffet', case=False, na=False)]
delivery_df = df[df['listed_intype'].str.contains('Delivery', case=False, na=False)]
# Calculate average cost
avg_buffet = buffet_df['approx_costfor_two_people'].mean()
avg_delivery = delivery_df['approx_costfor_two_people'].mean()
cost_difference = avg_buffet - avg_delivery
print(f"Average cost for Buffet restaurants: â‚¹{avg_buffet:.2f}")
print(f"Average cost for Delivery restaurants: â‚¹{avg_delivery:.2f}")
print(f"Average cost difference: â‚¹{cost_difference:.2f}")

Average cost for Buffet restaurants: â‚¹1295.35
Average cost for Delivery restaurants: â‚¹464.10
Average cost difference: â‚¹831.25

In [48]:
#What is the maximum number of votes received by any restaurant with online ordering?

max_no_votes = df['votes'].max()
max_no_votes

16832

In [47]:
online_order_df = df[df['online_order'] == 1]
max_votes = online_order_df['votes'].max()
print(f"The maximum number of votes received by any restaurant with online ordering is: {max_votes}")

The maximum number of votes received by any restaurant with online ordering is: 16832

In [51]:
#What is the average rating of restaurants that serve both North Indian and Chinese cuisines?
both_cuisines_df = df[df['cuisines'].str.contains('North Indian', case=False, na=False) & 
                      df['cuisines'].str.contains('Chinese', case=False, na=False)]
avg_rating = both_cuisines_df['rate'].mean()
print(f"The average rating of restaurants that serve both North Indian and Chinese cuisines is: {avg_rating:.2f}")

The average rating of restaurants that serve both North Indian and Chinese cuisines is: 3.59

In [49]:
df.head()

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity
0,1,1,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,Buffet,Banashankari
1,1,0,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,Buffet,Banashankari
2,1,0,3.8,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,Buffet,Banashankari
3,0,0,3.7,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,Buffet,Banashankari
4,0,0,3.8,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.0,Buffet,Banashankari

In [53]:
#What is the most profitable area for Zomato based on potential revenue estimation?

#HINT: strike rate = (Total Runs / Total Balls Faced) * 100

df = df.dropna(subset=['listed_incity', 'votes', 'approx_costfor_two_people'])
# Group by locality and calculate:
# - Total Votes
# - Average Cost
# - Estimated Revenue
locality_revenue = df.groupby('listed_incity').agg({
    'votes': 'sum',
    'approx_costfor_two_people': 'mean'
})
# Create estimated revenue column
locality_revenue['estimated_revenue'] = locality_revenue['votes'] * locality_revenue['approx_costfor_two_people']
# Find the locality with highest estimated revenue
top_area = locality_revenue['estimated_revenue'].idxmax()
top_revenue = locality_revenue['estimated_revenue'].max()

print(f"The most profitable area for Zomato based on potential revenue estimation is **{top_area}** with an estimated value of â‚¹{top_revenue:,.0f}.")

The most profitable area for Zomato based on potential revenue estimation is **Koramangala 7th Block** with an estimated value of â‚¹553,749,719.

In [55]:
#If Zomato wants to reduce customer complaints, which restaurant type should they focus on?

 #Group by restaurant type and calculate:
# - Average rating
# - Total votes
rest_type_summary = df.groupby('rest_type').agg({
    'rate': 'mean',
    'votes': 'sum'
}).reset_index()

# Filter restaurant types with average rating < 3.5
low_rated = rest_type_summary[rest_type_summary['rate'] < 3.5]

# Sort by total votes to identify high-impact low-rated types
focus_types = low_rated.sort_values(by='votes', ascending=False)

# Top type to focus on
top_type = focus_types.iloc[0]

print(f"Zomato should focus on **{top_type['rest_type']}** restaurants, which have an average rating of {top_type['rate']:.2f} from {int(top_type['votes'])} votes â€” indicating a high potential for customer complaints.")

Zomato should focus on **Unknown** restaurants, which have an average rating of 3.40 from 15033 votes â€” indicating a high potential for customer complaints.

In [57]:
#In which area should Zomato invest by considering high rating (rate > 4.2), high number of votes (> 500) and including online orders?


# Drop rows with missing critical info
df = df.dropna(subset=['rate', 'votes', 'online_order', 'listed_incity'])

# Filter rows based on criteria
filtered_df = df[
    (df['rate'] > 4.2) &
    (df['votes'] > 500) &
    (df['online_order'] == 1)
]

# Group by area and count number of such high-performing restaurants
top_areas = filtered_df['listed_incity'].value_counts().reset_index()
top_areas.columns = ['Area', 'High_Performing_Restaurants']

# Display top area
top_area = top_areas.iloc[0]
print(f"Zomato should invest in **{top_area['Area']}**, which has {top_area['High_Performing_Restaurants']} high-rated, high-voted restaurants that support online orders.")

Zomato should invest in **Koramangala 7th Block**, which has 97 high-rated, high-voted restaurants that support online orders.